# Python pandas Practice Problems

Welcome to datascience@berkeley's collection of Python pandas practice problems.

To use this notebook, go to `File` --> `Save a copy in Drive` in the menu bar above to create a copy of this notebook on your computer. A new tab will open with the copy and you will be the owner. Your version will not be visible to anyone else.

A few notes to get you started:

* The space provided for code is not a line limit or hint. Add and use as many lines of code or additional cells as necessary.
* Lines preceded with '#' are comments and provide additional explanation but will not affect written code or execution.
* Solutions can be found in the complementary [Python pandas Practice Problems for Beginners - Solutions notebook](https://colab.research.google.com/drive/1f8PTrhgJR093fBth5Ka23KCWTIGbgPds?usp=sharing).
* Additional resources for the concepts used in each problem can be found at [the blog post here](https://ischoolonline.berkeley.edu/blog/python-pandas-practice-problems/).

In [4]:
# Import statements go here

import pandas as pd
import statsmodels.api as sm

## Importing Data and Making a DataFrame
The statsmodels package (installed in the code cell above) includes built-in datasets. Execute the code below to download data from the [American National Election Studies of 1996](https://www.statsmodels.org/dev/datasets/generated/anes96.html) and print a detailed description of the schema.

The next cell extracts the `Dataset` object from the submodule and saves the `DataFrame` to the variable `df`. In the questions that follow, use `df` when referencing the dataset.

In [5]:
anes96 = sm.datasets.anes96
print(anes96.NOTE)

::

    Number of observations - 944
    Number of variables - 10

    Variables name definitions::

            popul - Census place population in 1000s
            TVnews - Number of times per week that respondent watches TV news.
            PID - Party identification of respondent.
                0 - Strong Democrat
                1 - Weak Democrat
                2 - Independent-Democrat
                3 - Independent-Indpendent
                4 - Independent-Republican
                5 - Weak Republican
                6 - Strong Republican
            age : Age of respondent.
            educ - Education level of respondent
                1 - 1-8 grades
                2 - Some high school
                3 - High school graduate
                4 - Some college
                5 - College degree
                6 - Master's degree
                7 - PhD
            income - Income of household
                1  - None or less than $2,999
                2  - $3,000-$4,999
                3  - $5,000-$6,999
                4  - $7,000-$8,999
                5  - $9,000-$9,999
                6  - $10,000-$10,999
                7  - $11,000-$11,999
                8  - $12,000-$12,999
                9  - $13,000-$13,999
                10 - $14,000-$14.999
                11 - $15,000-$16,999
                12 - $17,000-$19,999
                13 - $20,000-$21,999
                14 - $22,000-$24,999
                15 - $25,000-$29,999
                16 - $30,000-$34,999
                17 - $35,000-$39,999
                18 - $40,000-$44,999
                19 - $45,000-$49,999
                20 - $50,000-$59,999
                21 - $60,000-$74,999
                22 - $75,000-89,999
                23 - $90,000-$104,999
                24 - $105,000 and over
            vote - Expected vote
                0 - Clinton
                1 - Dole
            The following 3 variables all take the values:
                1 - Extremely liberal
                2 - Liberal
                3 - Slightly liberal
                4 - Moderate
                5 - Slightly conservative
                6 - Conservative
                7 - Extremely Conservative
            selfLR - Respondent's self-reported political leanings from "Left"
                to "Right".
            ClinLR - Respondents impression of Bill Clinton's political
                leanings from "Left" to "Right".
            DoleLR  - Respondents impression of Bob Dole's political leanings
                from "Left" to "Right".
            logpopul - log(popul + .1)

In [6]:
dataset_anes96 = anes96.load_pandas()
df = dataset_anes96.data

## 1. DataFrame Basic Properties Exercise

Our DataFrame (`df`) contains data on registered voters in the United States, including demographic information and political preference. Using `pandas`, print the first 5 rows of the DataFrame to get a sense of what the data looks like. Next, answer the following questions:


*   How many observations are in the DataFrame?
*   How many variables are measured (how many columns)?
*   What is the age of the youngest person in the data? The oldest?
*   How many days a week does the average respondent watch TV news (round to the nearest tenth)?
*   Check for missing values. Are there any?

In [7]:
# Your code here
df.head()

,popul,TVnews,selfLR,ClinLR,DoleLR,PID,age,educ,income,vote,logpopul
0,0.0,7.0,7.0,1.0,6.0,6.0,36.0,3.0,1.0,1.0,-2.302585
1,190.0,1.0,3.0,3.0,5.0,1.0,20.0,4.0,1.0,0.0,5.247550
2,31.0,7.0,2.0,2.0,6.0,1.0,24.0,6.0,1.0,0.0,3.437208
3,83.0,4.0,3.0,4.0,5.0,1.0,28.0,6.0,1.0,0.0,4.420045
4,640.0,7.0,5.0,6.0,4.0,0.0,68.0,6.0,1.0,0.0,6.461624

In [9]:
print(len(df))
print(len(df.columns))
print(df.age.describe()[['min', 'max']])

944
11
min    19.0
max    91.0
Name: age, dtype: float64

In [13]:
f"{df.TVnews.mean():.1f}"

'3.7'

In [18]:
df.isna().sum()

popul       0
TVnews      0
selfLR      0
ClinLR      0
DoleLR      0
PID         0
age         0
educ        0
income      0
vote        0
logpopul    0
dtype: int64

## 2. Data Processing Exercise

We want to adjust the dataset for our use. Do the following:


*   Rename the `educ` column `education`.
*   Create a new column called `party` based on each respondent's answer to `PID`. `party` should equal `Democrat` if the respondent selected either Strong Democrat or Weak Democrat. `party` will equal `Republican` if the respondent selected Strong or Weak Republican for `PID` and `Independent` if they selected anything else.
*   Create a new column called `age_group` that buckets respondents into the following categories based on their `age`: 18-24, 25-34, 35-44, 45-54, 55-64, and 65 and over.

In [14]:
# Your code here
df2 = (df.rename(columns=dict(educ="education")))

In [15]:
df2['party'] = 'Independant'
s = df2.party
s[df2.PID <= 1] = 'Democrat'
s[df2.PID >= 5] = 'Republican'

<ipython-input-15-55936923581e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s[df2.PID <= 1] = 'Democrat'
<ipython-input-15-55936923581e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s[df2.PID >= 5] = 'Republican'

In [20]:
df2['age_group'] = pd.cut(df.age, (0, 24, 34, 44, 54, 64, 100))
df2.head()

,popul,TVnews,selfLR,ClinLR,DoleLR,PID,age,education,income,vote,logpopul,party,age_group
0,0.0,7.0,7.0,1.0,6.0,6.0,36.0,3.0,1.0,1.0,-2.302585,Republican,"(34, 44]"
1,190.0,1.0,3.0,3.0,5.0,1.0,20.0,4.0,1.0,0.0,5.247550,Democrat,"(0, 24]"
2,31.0,7.0,2.0,2.0,6.0,1.0,24.0,6.0,1.0,0.0,3.437208,Democrat,"(0, 24]"
3,83.0,4.0,3.0,4.0,5.0,1.0,28.0,6.0,1.0,0.0,4.420045,Democrat,"(24, 34]"
4,640.0,7.0,5.0,6.0,4.0,0.0,68.0,6.0,1.0,0.0,6.461624,Democrat,"(64, 100]"

## 3. Filtering Data Exercise

Use the filtering method to find all the respondents who have the impression that Bill Clinton is moderate or conservative (`ClinLR` equals 4 or higher). How many respondents are in this subset?

Among these respondents, how many have a household income less than $50,000 and attended at least some college?

In [23]:
extract = df2[(df2.ClinLR >=4) & (df2.education >= 5) & (df2.income >= 20)]
len(extract)

35

In [24]:
extract.head()

,popul,TVnews,selfLR,ClinLR,DoleLR,PID,age,education,income,vote,logpopul,party,age_group
586,0.0,7.0,6.0,4.0,6.0,4.0,47.0,7.0,20.0,1.0,-2.302585,Independant,"(44, 54]"
587,470.0,4.0,4.0,4.0,6.0,1.0,42.0,6.0,20.0,0.0,6.152945,Democrat,"(34, 44]"
602,640.0,5.0,4.0,5.0,7.0,1.0,50.0,5.0,20.0,0.0,6.461624,Democrat,"(44, 54]"
603,900.0,3.0,3.0,4.0,6.0,1.0,45.0,6.0,20.0,0.0,6.802506,Democrat,"(44, 54]"
625,290.0,4.0,4.0,5.0,3.0,5.0,30.0,6.0,20.0,0.0,5.670226,Republican,"(24, 34]"

## 4. Calculating From Data Exercise

For each of the below match-ups, choose the group that is more likely to vote for Bill Clinton. You can calculate this using the percentage of each group that intends to vote for Clinton (`vote`). Which match-up was the closest? Which had the biggest difference?

Another way to think about this: Given that a respondent is a Democrat, there is a ____ percent chance they will vote for Clinton. How does this value change if the respondent is a Republican?

*   Democrats or Republicans
*   People younger than 44 or People 44 and older
*   People who watch TV news at least 6 days a week or People who watch TV news less than 3 days a week
*   People who live somewhere with a population greater than the average respondent or People who live in a place with a population equal to or less than the average respondent

In [31]:
def calculate(message, df):
  clinton = df[df.vote == 0]
  print(f"in the {message} group, {len(clinton) / len(df) * 100:.2f} % intend to vote Clinton")

calculate("ALL", df2)
calculate("Democrats",
          df2[df2.party == 'Democrat'])
calculate("Republicans",
          df2[df2.party == 'Republican'])
calculate("Younger than 44",
          df2[df2.age < 44])
calculate("44 and older",
          df2[df2.age >= 44])

in the Democrats group, 96.32 % intend to vote Clinton
in the Republicans group, 10.46 % intend to vote Clinton
in the Younger than 44 group, 59.48 % intend to vote Clinton
in the 44 and older group, 57.29 % intend to vote Clinton
in the ALL group, 58.37 % intend to vote Clinton

## 5. Grouping Data Exercise

Use the `groupby()` method to bucket respondents by `age_group`. Which age group is the most conservative? Which watches TV news the least?

Next, calculate 5 percentile groups based on income. Group the dataset by these percentiles. Which income bracket is the most liberal? Which is the most conservative? The oldest? Highest educated?

In [33]:
df2.groupby('age_group')['selfLR'].mean()

age_group
(0, 24]      4.000000
(24, 34]     4.217391
(34, 44]     4.257143
(44, 54]     4.285714
(54, 64]     4.532258
(64, 100]    4.529412
Name: selfLR, dtype: float64

In [36]:
df2.groupby('age_group')['TVnews'].mean()

age_group
(0, 24]      2.358491
(24, 34]     2.570652
(34, 44]     3.118367
(44, 54]     3.916667
(54, 64]     4.516129
(64, 100]    5.523529
Name: TVnews, dtype: float64

In [39]:
df2['income-group'] = pd.qcut(df2.income, 5)
df2.groupby('income-group')['selfLR'].mean()

income-group
(0.999, 12.0]    4.282297
(12.0, 16.0]     4.295567
(16.0, 19.0]     4.099379
(19.0, 21.0]     4.497537
(21.0, 24.0]     4.422619
Name: selfLR, dtype: float64

## 6. Voting Across the Aisle

We are interested in learning more about respondents who's political views differ strongly from the candidate they expect to vote for. Using `selfLR`, `vote`, `ClinLR`, and `DoleLR`, work through the following questions. Your interpretation may differ from the answer key.

*   What is the largest recorded difference between a respondent's political leaning and their impression of their intended candidate's political leaning?
*   How many respondents exhibit a difference of that magnitude?
*   Make a separate DataFrame called `sway` that only includes voters who exhibit a difference greater than |3|.
*   Among those in `sway`, are respondents more likely to be voting for a candidate more conservative or more liberal than their own political leaning?
*   In `sway`, which candidate is the more popular choice?

In [ ]:
# Your code here

# BSD 3-Clause License

*Copyright (c) 2022, UC Berkeley School of Information*

*All rights reserved.*

*Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:*

*1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.*

*2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.*

*3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.*

*THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.*